/* CSS relatif à la Contact Page */
header {
background-image:linear-gradient(grey, #333), url(../img/header.jpg);
background-blend-mode: multiply ;
background-position: center;
background-size: cover;
padding-bottom: 10%;
}
