/* CSS relatif à la Home Page */
header {
background-image:linear-gradient(grey, #333), url(../img/header.jpg);
background-blend-mode: multiply ;
background-position: center;
background-size: cover;
}

#navbarNavAltMarkup {
justify-content: flex-end;
}

.nav-link {
font-family: 'Oswald', sans-serif;
}

.hometitle {
padding: 10%;}

section {
justify-content: center;}

section h2 {
font-family: 'Oswald', sans-serif;
padding:5%;}

section a {
text-decoration: none;
color:rgba(0, 0, 0, 0.452);}

aside h6,form, input, button {
margin: 3%;
}
aside button {
width: 100%;
}

