body {
margin: 0;
font-family: 'Oswald', sans-serif;}

header {
color: white;
}

footer a {
color:white;}

footer {
background-color: black;
color: white;
padding: 10px 10px;}

form, input, button {
margin: 0;
}
/*
@media screen and (min-width: 768px) {
footer {padding: 10%;}
} */

