nav a{
    color: #6c6967;
}
.home{
    color: white;
}
main p{
    color: rgba(0, 0, 0, 0.719);
}
h6{
    color: rgba(0, 0, 0, 0.719);
    font-size: 10px;
    margin: 20px 0px 20px 0px;
}
.homepage{
    color: white;
    font-family: Courg;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.homepage h1{
    padding: 20px;
}
.homepage h2{
    margin-bottom: 100px;
}
.homepage{
    font-size: 50px;
    padding: 100px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main h1{
    font-family: Oswald;
    font-size: 50px;
    margin: 40px;
}
.premier,.deuxieme,.troisieme{
    display: flex;
}
main h2{
    font-family: Courg;
    font-size: 25px;
    margin: 10px;
}
main img{
    width: 20%;
    margin: 10px;

}
main p{
    color: rgba(0, 0, 0, 0.719);
    margin: 10px;
}
h6{ 
    color: rgba(0, 0, 0, 0.719);
    font-size: 10px;
    margin: 20px 0px 20px 0px;
}
.acceuil{
    display: flex;
    margin: 40px;
}
main .lier h1{
    font-family: Courg;
    padding:0; margin: 10px;
    font-size: 20px;
}
main .recherche,.newsletter{
    display: flex;
    flex-direction: column;
}
main .fa-brands{
    margin: 5px;
}
main #Email,main #search{
    font-size: 20px;
    padding: 10px;
    margin: 0;
    border-radius: 7px;
    border: 1px solid grey;
}

main .sub{
    background-color: white;
    color: black;
    border: solid 2px black;
    border-radius: 5px;
    padding: 10px;
    font-weight: 1000;
}
@media screen and (max-width: 786px)  {
    .homepage img{
        width: 50%;
    }
    main .lier{
        display: none;
    }
    header nav a {
        display: none;
    }
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px;
        line-height: 1;
    }
    .premier,.deuxieme,.troisieme{
        display: flex;
    }
    main h1{
        font-size: 30px;
        margin: 30px;
        font-family: Oswald;
    }
    main h2{
        font-family: Courg;
        font-size: 25px;
        margin: 10px;
    }
    main img{
        width: 20%;
        margin: 5px;
    
    }
    main p{
        color: rgba(0, 0, 0, 0.719);
        margin: 10px;
    }
    h6{
        
        color: rgba(0, 0, 0, 0.719);
        font-size: 10px;
        margin: 20px 0px 20px 0px;
    }
    .homepage{
        color: white;
        font-family: Courg;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }
    .homepage h1{
        font-size: 40px;
        padding: 50px;
    }
    .homepage{
        font-size: 35px;
    }
}
@media screen and (max-width: 414px)  {
.premier,.deuxieme,.troisieme{
    display: flex;
    flex-wrap: wrap;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    line-height: 1.5;
}
main h1{
    font-size: 20px;
    margin: 20px;
}
main h2{
    font-family: Courg;
    font-size: 15px;
}
main img{
    width: 100%;
    margin-bottom: 5px;

}
main p{
    color: rgba(0, 0, 0, 0.719);
}
h6{
    color: rgba(0, 0, 0, 0.719);
    font-size: 10px;
    margin: 20px 0px 20px 0px;
}
.homepage{
    color: white;
    font-family: Courg;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.homepage h1{
    font-size: 40px;
    padding: 50px;
}
.homepage{
    font-size: 35px;
}
}
