



.homepage{
    color: white;
    font-family: Courg;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.homepage h1{
    font-size: 40px;
    padding: 50px;
}
.homepage{
    font-size: 35px;
}