@font-face {
    font-family: Courg;
    src: url(/Police/Courgette/Courgette-Regular.ttf);
}
@font-face {
    font-family: Oswald;
    src: url(/Police/Oswald/Oswald-VariableFont_wght.ttf);
}
/*Les couleurs utilisées sont le blanc : #FFFFFF et le noir #000000*/ 
