@font-face {
  font-family: "Courgette";
  src: url(../Police/Courgette/Courgette-Regular.ttf);
}

@font-face {
  font-family: "Oswald";
  src: url(../Police/Oswald/Oswald-VariableFont_wght.ttf);
}


@media screen and (min-width: 769px) {

/* .burger {
  display: none;
} */

main
{
 margin: 50px;
}





.auteur
{
  justify-content: center;
}

.search {
  height: 30px;
  font-family: 'Oswald', sans-serif;
  color: #788087;
  font-size: 17px;
  font-weight: 500;
  padding-left: 10px;
  border: 1px solid;
  border-color: #d3d8de;
  border-radius: 3px;
}



}  



.mail
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


main aside {
  width: 18%;
  padding-left: 200px;
  font-family: 'Courg';
  margin-bottom: 3px;

}
main aside form {
  display: flex;
  flex-direction: column;
}

aside h5 {
  font-family: 'Courgette';
  font-size: 18px;
  margin: 15px;
}

.submit {
  height: 40px;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
}
.submit:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.homepage
{
  padding: 170px 0 170px 0;

}

.homepage h1
{
  /* padding: 170px 0 170px 0; */
  font-size: 20px;
  display: flex;
  justify-content: center;
  font-family: 'Courg';
  color: white;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 0.677);
  margin-left: 40px;
  margin-right: 40px;  
}



.text {
  display: flex;
  flex-wrap: wrap;
}




/* @media screen and (max-width: 768px)  { */

p
{
  font-family: "Oswald";
  font-size: 11px;
  color: gray;
}

h2
{
  font-family: "Courgette";
  font-size: 20px;
}

 
.topheader {
  backdrop-filter: brightness(30%)

} 

header 
{
  background: url(../img/articles/suzette/suzette-header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  /* height: 250px; */
  /* width: 100%; */
}

  header h2
  {
    font-size: 20px;
  }



nav a{
  color: #6c6967;
  }
  .blog{
  color: white;
  }



.text
{
  padding: 10px;
  margin-top: 10px;

}

.text div
{
  width: 55%;
}

.text h2
{
  /* font-family: "Courgette";
  font-size: 20px; */
  margin: 5px;
  margin-bottom: 15px;
}

.text p
{
  padding: 5px;
  margin-bottom: 5px;
}

.auteur
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 25px;
}

.auteur img
{
  width: 80px;
  height: 80px;
  border-radius: 60px;
}



.aut
{
  /* width: 200px; */
  margin-top: 10px;
  margin-left: 15px;
}

.aut h2
{
  margin-bottom: 5px;
  margin-left:10px;
}
.aut p 
{
  font-size: 12px;
  line-height: 1.2em;
}


.mail
{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}


.mail h2
{
  font-size: 15px;
  padding-bottom: 5px;
}
  
.mail article 
{
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
  padding: 10px;
}

.ipt
{
  padding: 5px;
  font-size: 15px;
  width: 330px;
  border-width: 1px;
  border-color: #CCCCCC;
  background-color: #FFFFFF;
  color: #000000;
  border-style: solid;
  border-radius: 0px;
  box-shadow: -1px 0px 0px rgba(66,66,66,.0);
  text-shadow: 0px 0px 5px rgba(66,66,66,.75);
}

.css-input:focus {
    outline:none;
}

/* .square {
  /* display: flex; 
  width: 50px;
  height: 50px;
} */

.avis img 
{
  width: 10%;
}

.avis
{
  display: flex;
  flex-direction: column;

}

.first, .third
{
  display: flex;
}

.third
{
  margin-left: 50px;
  opacity: 0.5;
}

/* .comment
{
  display: flex;

  flex-direction: column;
   width: 100px;
} */


@media screen and (max-width: 967px)
{
  aside 
  {
    display: none;
  }

  .text 
  {
    display: flex;
    justify-content: center;
  }
}









