/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Dancing+Script&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Global */
body {
  position: relative;
  font-family: 'Oswald';
}

h1 {
  font-family: 'Courgette', sans-serif;
  font-size: 40px;
  margin-bottom: 16px;
}

h2 {
  font-family: 'Courgette', sans-serif;
  font-size: 24px;
}

a {
  text-decoration: none;
}

input {
  height: 30px;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  outline: 0;
  padding-left: 8px;
  font-weight: 600;
}

button {
  height: 34px;
  padding: 0px 16px;
  border: solid 1px grey;
  border-radius: 4px;
  background-color: transparent;
  font-weight: 600;
}

/* Header */
header {
  position: absolute;
  width: 100%;
  height: 70px;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px rgba(255, 255, 255, 0.7);
  color: white;
}

header p {
  padding-left: 30px;
  font-family: 'Courgette', sans-serif;
  font-size: 24px;
}

nav {
  display: flex;
  gap: 15px;
  padding-right: 30px;
}

nav a {
  color: white;
  opacity: 0.7;
}

nav .selected {
  opacity: 1;
} 

.burger {
  display: none;
  width: 20px;
  margin-right: 30px;
  padding: 5px;
  border: solid 1px white;
  border-radius: 4px;
  opacity: 0.7;
}

/* Main */
.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 50px 0px;
}

.hero {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero img {
  width: 75px;
  margin-bottom: 16px;
}

aside {
  width: 250px;
  height: 20px;
}

aside h6 {
  font-family: 'Courgette', sans-serif;
  margin-top: 16px;
  margin-bottom: 8px;
}

aside input {
  width: 238px;
}

aside button {
  width: 100%;
  border: solid 1px rgba(0, 0, 0);
}

/* Footer */
footer {
  display: flex;
  padding: 60px 0px;
  justify-content: space-around;
  background-color: black;
  color: white;
  gap: 0px;
}

footer article h5 {
  font-family: 'Courgette', sans-serif;
  margin-bottom: 16px;
  font-size: 20px;
}

footer article h6 {
  font-family: 'Courgette', sans-serif;
  margin-bottom: 8px;
}

footer article h6:nth-last-child(2) {
  margin-top: 16px;
}

footer article a {
  display: block;
  text-decoration: underline;
  font-weight: 200;
  margin-bottom: 8px;
  color: white;
}

footer button {
  border: solid 1px white;
  color: white;
}

.socials {
  display: flex;
  gap: 4px;
}

.social {
  display: flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 4px;
}

.social img {
  width: 20px;
}

@media (max-width: 992px) {
  /* Global */
  h1 {
    font-size: 32px;
    margin-bottom: 8px;
  }

  h2 {
    font-size: 20px;
  }

  /* Header */
  header {
    height: 50px;
  }

  header p {
    font-size: 20px;
  }

  header nav {
    display: none;
  }

  .burger {
    display: block;
  }

  /* Main */
  .hero {
    height: 300px;
  }

  .hero img {
    width: 50px;
    margin-bottom: 8px;
  }

  aside {
    display: none;
  }

  /* Footer */
  footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  footer article {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  footer article {
    margin-left: 30px;
  }
}