.hero {
  background: linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url("../img/team/team.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
}

.team-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 24px;
}

.team-container article {
  width: 250px;
  text-align: center;
  margin-bottom: 32px;
}

.team-container article img {
  width: 220px;
  border-radius: 50%;
  background-color: red;
}

.team-container h4 {
  font-family: 'Courgette', sans-serif;
  font-size: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.team-container p {
  font-weight: 200;
}

@media (max-width: 992px) {
  .team-container {
    justify-content: center;
  }
}